body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    align-items: center;

}
#title {
    color: black;
}
#titleWrap {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    padding-left: 45%;
}
#form {
    display: flex;
    flex-direction: column;
}
#uploadBtn {
    width: 80%;
    
}
.containerWrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 300px;
    height: 500px;
    background: rgba(255,255,255,0.3);
    border: 2px solid;
    padding-top: 20px;
    padding-left: 100px;

}

#inputFiled {
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
}
#removeAllchild {
    width: 59%;   
}

.to-dos {
    margin-top:25px;
}